body{
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.mass{
    border: #202020 solid;
    height: 100em;
}
.container{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.animated{
    width: 400px;
    height: 221px;
    background-color: #202020;
    /* background-position: center; */
    /* background-size: cover; */
    /* background-image: url(); */
}
.animated.slide {                  
    visibility: visible;                  
    animation: slide 1s;
}
.animated::after {
    content: "";
    display: table;
    clear: both;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}
/* .fadeInLeft{
    -webkit-animation: fadeInLeft 3s both;
    -moz-animation: fadeInLeft 3s both;
    -o-animation: fadeInLeft 3s both;
    animation: fadeInLeft 3s both;
}
.fadeInTop{
    -webkit-animation: fadeInTop 3s both;
    -moz-animation: fadeInTop 3s both;
    -o-animation: fadeInTop 3s both;
    animation: fadeInTop 3s both;
}
.fadeInRight{
    -webkit-animation: fadeInRight 3s both;
    -moz-animation: fadeInRight 3s both;
    -o-animation: fadeInRight 3s both;
    animation: fadeInRight 3s both;
}
@-webkit-keyframes fadeInLeft{
    0%{
        opacity: 0;
        -webkit-transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0px);

    }
}
@-moz-keyframes fadeInLeft{ 
    0%{
    opacity: 0;
    -moz-transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        -moz-transform: translateX(0px);

    }
}
@-o-keyframes fadeInLeft{
    0%{
        opacity: 0;
        -o-transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        -o-transform: translateX(0px);
    
    }
}
@keyframes fadeInLeft{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    
    }
}
@-webkit-keyframes fadeInTop{
    0%{
        opacity: 0;
        -webkit-transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0px);

    }
}
@-moz-keyframes fadeInTop{ 
    0%{
    opacity: 0;
    -moz-transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        -moz-transform: translateY(0px);

    }
}
@-o-keyframes fadeInTop{
    0%{
        opacity: 0;
        -o-transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        -o-transform: translateY(0px);
    
    }
}
@keyframes fadeInTop{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    
    }
}
@-webkit-keyframes fadeInRight{
    0%{
        opacity: 0;
        -webkit-transform: translateY(50px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0px);

    }
}
@-moz-keyframes fadeInRight{ 
    0%{
    opacity: 0;
    -moz-transform: translateY(50px);
    }
    100%{
        opacity: 1;
        -moz-transform: translateY(0px);

    }
}
@-o-keyframes fadeInRight{
    0%{
        opacity: 0;
        -o-transform: translateY(50px);
    }
    100%{
        opacity: 1;
        -o-transform: translateY(0px);
    
    }
}
@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    
    }
} */