/* Fonts */
@font-face{
    font-family: 'Akira';
    src:url('./font/Akira.otf')format('opentype');
}

@font-face{
    font-family: 'Edward';
    src:url('./font/Edward.TTF')format('truetype');
}

@font-face{
    font-family: 'GigaSansExtraBold';
    src:url('./font/GigaSansExtraBold.otf')format('opentype');
}

@font-face{
    font-family: 'Gotham-Book';
    src:url('./font/Gotham-Book.otf')format('opentype');
}

@font-face{
    font-family: 'Gotham-Medium';
    src:url('./font/Gotham-Medium.otf')format('opentype');
}

@font-face{
    font-family: 'Gotham-MediumItalic';
    src:url('./font/Gotham-MediumItalic.otf')format('opentype');
}



@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: block;
    margin: 0;
    color: #000000;
    height: 100vh;
    overflow-x: hidden;
    max-height: 110vh;
    

}
.structure{
    position: relative;
    top: 0;
    height: 200em;

}


.scrolled .iMAGELOGO {
    transform: scale(1.6) translateY(30px); 
    opacity: 0.5; 
    transition: transform 1s cubic-bezier(.25,.1,.25,1), opacity 0.3s cubic-bezier(.25,.1,.25,1);
  }
.hello{

    display: flex;
    justify-content: center; 
    align-items: center;

    position: relative;

    top: -15em;

}
.text{
    display: flex;

    justify-content: center; 
    align-items: center;
}
.we{
    font-family: 'Edward';
    font-size: 4em;
    position: relative;
    top: 1.2em;
    left: -0.3em;
}

.are{
    font-family: 'Gotham-MediumItalic';
    font-size: 3.2em;
    position: relative;

    top: 1.5em;


}
.wimage{
    font-family: 'Gotham-Book';
    position: relative;
    font-size: 1.1em;
    top: -4.4em;
}
.imageT{
    color: #FF8001;
    font-family: 'GigaSansExtraBold';
    font-size: 9em;
    position: relative;
    transform: translateY(-1.7em);
}
.iMAGELOGO{
    display: flex;
    justify-content: center; 
    transform: translateY(-3.5em);
    position: sticky;
    top: 0; 

    z-index: -1; 
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.logo{
    /* border: red solid; */
    transform: scale(.7,.7);
}
.socialmedia{
    display: flex;
    position: relative;
    top: -17em;
    justify-content: space-evenly;
    color: #ca6f13;
    font-family: 'Gotham-Medium';
}
.image-officers{
    font-family: 'Akira';
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1em;
    color: #030605;
    
}

.pos{
    text-align: center;
    position: relative;
    font-family: 'Akira';
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1em;
    color: #FF8001;
    border: #030605 5px solid;
    clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);

    top: 13em;
    transition: transform 1s ease, filter 1s ease;
    line-height: 0.85;
    width: 17rem;
    height: 4rem;
    


}
.names{
    top: 8em;
    font-family: 'Akira';
    font-size: medium;
    color: #f3ede6;
    background-color: rgb(0, 0, 0, .7);
    padding: .5em .5em;
    border-radius: 25px 10px;
    position: relative;
    justify-content: center;
    text-align: center;
    display: flex;
    filter: drop-shadow(0 0 0.50rem #ba5d00);
    
    opacity: 0;
    transition: opacity 1s cubic-bezier(0.25, 0.1, 0.25, 1), transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);

}
.pos:hover + .names, .names:hover{
    opacity: 1;
    cursor:pointer;
    transform: scale(1.2) translateY(-2em);
}
.long{
    font-size: 1rem;
    top: 12em;
    width: 22em;
    height: 3rem;
    padding-right: 2em;
    padding-left: 4em;
    

}
.ch{
    top: 13.75em;
}
.au{
    top: 13.75em;
}
.pos:hover{
    cursor:pointer;
    
    
    filter: drop-shadow(0 0 0.50rem #000000);
    
}
.card-container{
    margin-top: 5rem;
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap; 
    gap: 4em; 



}
.card {
    margin-bottom: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    width: 11em;
    height: 260px;
    border-radius: 10px;
    opacity: 0; 
    transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 1s cubic-bezier(0.25, 0.1, 0.25, 1);

    transform: translateY(0px);
    border-radius: 26px;
    background: #ffc78f;
    


  }


.card.fade-in {
    transform: translateY(-50px);

    opacity: 1; 
}
.card:nth-child(1),.card:nth-child(2),.card:nth-child(4),.card:nth-child(5){
    opacity: 0;
}

.card:nth-child(3){
    background-image: url('./photos/adrian.jpg');
    background-position-x: 55% ;
    background-size: cover;
}

  
.card:nth-child(6){
    background-image: url('./photos/JARED.jpeg');
    background-position-x: 50% ;

    background-size: cover;
}

  
.card:nth-child(7){
    background-image: url('./photos/sofiii.png');
    background-size: cover;
}

  
.card:nth-child(8){
    background-image: url('./photos/Chris.JPG');
    background-size: cover;
}

  
.card:nth-child(9){
    background-image: url('./photos/APRILJOY.png');
    background-position-x: 50%;
    background-size: cover;
}

  
.card:nth-child(10){
    background-image: url('./photos/JEWEL.jpeg');
    background-size:cover;
    
    background-position-x: 75%;

}

  
.card:nth-child(11){
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/6c/20230921_Newjeans_Hanni_%ED%8B%B0%EB%B9%84%ED%85%90_01_%28cropped%29.jpg');
    background-size: cover;
}

  
.app{
    display: flex;
    justify-content: center;
    align-items: center;
    border: #FF8001 solid;
    padding: .65em 0;
    width: 13em;
    border-radius: 1em;
    transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.app:hover{
    border: none;
    background-color: rgb(255, 128, 1, .7);
    transform: scale(1.2);
}
.app:hover p{
    color: white;
}

.icons {
    
    height: 2em;
    width: auto;
    padding-right: 1em;
}


.department-heads{
    font-family: 'Akira';
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1em;
    color: #030605;
    

}

.pos-dh{
    text-align: center;
    position: relative;
    font-family: 'Akira';
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1em;
    color: #FF8001;
    top: 13em;
    transition: transform 1s ease, filter 1s ease;
    line-height: 0.85;


}
.names-dh{
    top: 8em;
    font-family: 'Akira';
    font-size: medium;
    color: #f3ede6;
    background-color: rgb(0, 0, 0, .7);
    padding: .5em .5em;
    border-radius: 25px 10px;
    position: relative;
    justify-content: center;
    text-align: center;
    display: flex;
    filter: drop-shadow(0 0 0.50rem #ba5d00);
    opacity: 0;
    transition: opacity 1s cubic-bezier(0.25, 0.1, 0.25, 1), transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);

}
.pos-dh:hover + .names-dh, .names-dh:hover{
    opacity: 1;
    cursor:pointer;
    transform: scale(1.2) translateY(-2em);
}

.pos-dh:hover{
    cursor:pointer;
    
    
    filter: drop-shadow(0 0 0.50rem #000000);
    
}
.card-container-dh{
    margin-top: 10rem;
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap; 
    gap: 4em; 



}
.card-dh {
    margin-bottom: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    width: 11em;
    height: 260px;
    border-radius: 10px;
    opacity: 0; 
    transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 1s cubic-bezier(0.25, 0.1, 0.25, 1);

    transform: translateY(0px);
    border-radius: 26px;
    background: #ffc78f;


  }


.card-dh.fade-in {
    transform: translateY(-50px);

    opacity: 1; 
}
.card-dh:nth-child(1){
    background-image: url('./photos/carl.jpg');
    background-position-x: 55% ;
    background-size: cover;
}

.card-dh:nth-child(2){
    background-image: url('./photos/JENROW.jpeg');
    background-position-x: 55% ;
    background-size: cover;
}
.card-dh:nth-child(3){
    background-image: url('./photos/');
    background-position-x: 55% ;
    background-size: cover;
}
  
.card-dh:nth-child(4){
    background-image: url('./photos/VILLANUEVA.jpeg');
    background-position-x: 50% ;

    background-size: cover;
}

  
.card-dh:nth-child(5){
    background-image: url('./photos/chance.jpg');
    background-size: cover;
}


@media screen and (max-width: 768px) {
    .structure {
      margin-left: 3em;
    }
  
    .iMAGELOGO {
      transform: translateY(-2.5em); /* Adjust positioning */
    }
  
    .hello {
      top: -12em; /* Adjust positioning */
    }
  
    .text {
      
      flex-direction: column; /* Stack text vertically */
    }
  
    .we {
      font-size: 3em; /* Decrease font size */
    }
  
    .are {
      font-size: 2.5em; /* Decrease font size */
    }
  
    .wimage {
        text-align: center;
        font-size: 0.9em; /* Decrease font size */
      top: -6.3em; /* Adjust positioning */
        
      
    }
  
    .imageT {
      top: -1.3em; /* Adjust positioning */
        
      font-size: 6em; /* Decrease font size */
      transform: translateY(-1em); /* Adjust positioning */
    }
  
    .socialmedia {
      flex-direction: row; /* Stack social media buttons vertically */
      top: -13em; /* Adjust positioning */
    }
    .socialmedia p{
        display: none;
    }
    .icons{
        padding: 0;
    }
  
    .app {
        justify-content: center;
        border: none;
      width: 20%; /* Occupy full width */
      margin-bottom: 1em; /* Add margin between buttons */
    }
    .image-officers,.department-heads{
        font-size: 2em;
        text-align: center;
    }
    .card-container,
    .card-container-dh {
      margin-top: 0; /* Add margin at the top */
    }
    .card:nth-child(1),
    .card:nth-child(2),
    .card:nth-child(4),
    .card:nth-child(5){
        display: none;
    }


  
    .pos,
    .pos-dh {
      top: 9.5em; /* Adjust positioning */
      border: none;
      font-size: 0.5em;
      background-color: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(255,255,255,0) 64%, rgba(0,212,255,0) 100%);
      height: 4em;
      width: 12em;
      border-radius: 10px;
      clip-path: none;
    }
  
    .names,
    .names-dh {

        opacity: 1;
      top: 10em; /* Adjust positioning */
      font-size: 0.5em; /* Decrease font size */
    }
  
    .pos:hover + .names,
    .names:hover {
      transform: scale(1) translateY(0); /* Adjust hover effect */
    }
  
    .card,
    .card-dh {
      width: 30%;
      height: 175px; /* Adjust width */
      margin: 1em auto; /* Center cards */
    }
    .long{
        left: -1em;
    }
    .card-container,.card-container-dh{
        gap: 3em;
    }
  }
  